.navbar {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    min-width: 80vw;
}

.nav-links {
    display: flex;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    
}

.nav-item {
    display: flex;
    padding: 5px;
    color: #E5E7Eb;
    font-size: 18px;
    
}

.image-class {
    display: inline-flex;
    max-height: 50px;
}

.header-box {
    display: flex;
    background-color: #1F2937;

}

.header-texts {
    display: flex;
    flex-direction: column;
    margin: 100px;
    font-weight: bolder;

}

.header-button {
    display: flex;
    background-color: #3882f6;
    width: 40%;

    
}

.header-box-mexican {
    display: flex;
    justify-content: center;
}

.main-image {
    display: flex;
    width: 50%;
    border: 2px solid red;
    margin: 100px;
}

.slideshow-box {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slideshow-row {
    display: flex;
    flex-direction: row;
}

.random-info {
    display: flex;
    border: 10px black;
    font-weight: bolder;
}

.picture-box {
    display: flex;
    border-radius: 10px;
    border: 3px black;
    background-color: #3882f6;
    width: 100px;
    height: 100px;
    margin: auto;
}

