.navbar {
    display: flex;
    background-color: #FF9292;
    justify-content: space-between;
    min-width: 80vw;
}

.nav-links {
    display: flex;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    
}


.nav-item {
    display: flex;
    padding: 5px;
}


.image-class {
    display: inline-flex;
    max-height: 50px;
}
